
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    color: #000000;
    background-color: #ffffff;
}


header {
     font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #032541;
    color: #ffffff;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px; 
    border: 1px white;
    height: 100px;



    & nav ul {
        list-style: none;
        display: flex;
        gap: 20px;

        & li a {
            color: #ffffff;
            text-decoration: underline solid;
            font-weight: 900;
            padding-bottom: 5px;
        }
    }
}

#headLogo {
    color: #ffffff;
    font-size: 64px; 
    display: flex;
    align-items: center;
    margin-left: 124px;
}
.selected{
    border-bottom: 2px solid #ffffff;

}


.searching {
   background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), 
                      url('../image/wandavision.jpg');
    
  
    background-size: cover;
    
  
    background-repeat: no-repeat;
    
    
    background-position: center 25%;
    height: 342px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 0 20px; 
}


.searchBar {
    display: flex;
    width: 100%;
    max-width: 1240px;
    height: 69px; 
    background-color: #ffffff;
}

.searchBar input {
    flex-grow: 1; 
    border: none;
    padding: 0 30px;
    font-size: 18px;
    color: #000000;
    outline: none; 
}

.searchBar button {
    background-color: transparent;
    border: none;
    padding: 0 30px;
    cursor: pointer;
    font-size: 32px;
    color: #000000;
}


.grayBG {
    background-color: #E7E7E7; 
    width: 100%;
}

.categories {
    margin-top: 37px; 
    display: flex;
    flex-direction: column;
    padding: 20px 0; 

    & .category {
        width: 1262px;
        height: 485px;
        margin-left: 100px; 
        display: flex;
        flex-direction: column;
        
        & .categoryHeader {
            display: flex;
            align-items: center;
            gap: 30px; 
            margin-bottom: 20px;

            & h2 {
                font-family: 'Roboto', sans-serif;
                font-size: 28px;
                font-weight: 700;
                color: #032541;
            }

          
            & .choiceButton {
                display: flex;
                gap: 40px; 
                
                
                & button {
                    height: 40px;
                    padding: 0 20px; 
                    border: 2px solid #032541; 
                    background-color: transparent;
                    color: #032541;
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px; 
                    font-weight: 400; 
                    cursor: pointer;
                    
                }
            }
        }

        & .movieList {
            flex-grow: 1;
            border-radius: 10px;
        }
    }
}