
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    color: #000000;
    background-color: #ffffff;
}


header {
     font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #032541;
    color: #ffffff;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px; 
    border: 1px white;
    height: 100px;



    & nav ul {
        list-style: none;
        display: flex;
        gap: 20px;

        & li a {
            color: #ffffff;
            text-decoration: underline solid;
            font-weight: 900;
            padding-bottom: 5px;
        }
    }
}

#headLogo {
    color: #ffffff;
    font-size: 64px; 
    display: flex;
    align-items: center;
    margin-left: 124px;
}
.selected{
    border-bottom: 2px solid #ffffff;

}


.hero {
   background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), 
                      url('../image/wandavision.jpg');
    
  
    background-size: cover;
    
  
    background-repeat: no-repeat;
    
    
    background-position: center 25%;
    height: 342px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 0 20px; 
}


.search-bar {
    display: flex;
    width: 100%;
    max-width: 1240px;
    height: 69px; 
    background-color: #ffffff;
    border-radius: 35px; 
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.search-bar input {
    flex-grow: 1; 
    border: none;
    padding: 0 30px;
    font-size: 1.1rem;
    color: #000000;
    outline: none; 
}

.search-bar input::placeholder {
    color: #a0a0a0; 
}

.search-bar button {
    background-color: transparent;
    border: none;
    padding: 0 30px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #000000;
}